@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  z-index: 99;
}

.header__container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  /* margin: 0 auto; */
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 112px;
  height: 36px;
  margin-right: 65px;
}

.header__input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  width: 151px;
  height: 32px;
  padding: 4px 8px;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.nav__links {
  width: 236px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.header__button {
  border-radius: 6px;
  border: none;
  background: rgb(255, 113, 67);
  padding: 12px 32px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Hero */

.hero {
  display: flex;
  height: 732px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 113, 67);
  position: relative;
  z-index: -1;
}

.hero__container {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.hero__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hero__title {
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 27px;
}

.hero__text {
  width: 587px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 22px;
}

.hero__btns {
  width: 442px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__btn {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 20px 32px;
  margin-bottom: 9px;
}

.dark {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.light {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stars {
  width: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonials__text {
  width: 368px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rate {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.bold {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 7px;
}

.hero__img {
  position: absolute;
  left: 67.42%;
  bottom: 0;
}

/* Jobs */

.jobs__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs__container {
  width: 1280px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job__item {
  max-width: 416px;
  display: flex;
  align-items: center;
}

.job__desc {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.square {
  min-width: 100px;
  height: 100px;
  background: rgb(253, 231, 218);
  position: relative;
  margin-right: 24px;
  padding: 26px;
}

.square__img {
  position: absolute;
  width: 48px;
  height: 48px;
}

.job__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-bottom: 13px;
}

.job__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Slider */

.slider__block {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.swiper {
  padding: 100px 0;
  width: 610px;
  height: auto;
}

.slide__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.slider__title {
  width: 100px;
  height: 20px;
  margin-bottom: 39px;
}

.slider__text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin-bottom: 41px;
}

.slide__name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.job__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
  border-radius: 0;
}

/* Landings */

.landing__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__container {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 100px 0;
}

.landing__title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-bottom: 26px;
}

.landing__grid {
  display: grid;
  grid-template-columns: repeat(3, 414px);
  gap: 16px;
}

.landing__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing__image--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
  background-color: #000;
}

.landing__descr {
  width: 416px;
  display: flex;
  align-items: start;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 25px;

}

.landing__text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}