@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  z-index: 99;
}

.header__container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  /* margin: 0 auto; */
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 112px;
  height: 36px;
  margin-right: 65px;
}

.header__input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  width: 151px;
  height: 32px;
  padding: 4px 8px;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.nav__links {
  width: 236px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.header__button {
  border-radius: 6px;
  border: none;
  background: rgb(255, 113, 67);
  padding: 12px 32px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Hero */

.hero {
  display: flex;
  height: 732px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 113, 67);
  position: relative;
  z-index: -1;
}

.hero__container {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.hero__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hero__title {
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 27px;
}

.hero__text {
  width: 587px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 22px;
}

.hero__btns {
  width: 442px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__btn {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 20px 32px;
  margin-bottom: 9px;
}

.dark {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.light {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stars {
  width: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonials__text {
  width: 368px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rate {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.bold {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 7px;
}

.hero__img {
  position: absolute;
  left: 67.42%;
  bottom: 0;
}