@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}

.header__container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 112px;
  height: 36px;
  margin-right: 65px;
}

.header__input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  width: 151px;
  height: 32px;
  padding: 4px 8px;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.nav__links {
  width: 236px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.header__button {
  border-radius: 6px;
  border: none;
  background: rgb(255, 113, 67);
  padding: 12px 32px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Скрыть бургер кнопку изначально */
.hamburger {
  display: none;
}


/* Hero */

.hero {
  display: flex;
  height: 732px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 113, 67);
  position: relative;
  z-index: -1;
}

.hero__container {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.hero__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hero__title {
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 27px;
}

.hero__text {
  width: 587px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 22px;
}

.hero__btns {
  width: 442px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__btn {
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 20px 32px;
  margin-bottom: 9px;
}

.dark {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.light {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stars {
  width: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonials__text {
  width: 368px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rate {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.bold {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 7px;
}

.hero__img {
  position: absolute;
  left: 67.42%;
  bottom: 0;
}

/* Jobs */

.jobs__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs__container {
  width: 1280px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job__item {
  max-width: 416px;
  display: flex;
  align-items: center;
}

.job__desc {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.square {
  min-width: 100px;
  height: 100px;
  background: rgb(253, 231, 218);
  position: relative;
  margin-right: 24px;
  padding: 26px;
}

.square__img {
  position: absolute;
  width: 48px;
  height: 48px;
}

.job__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-bottom: 13px;
}

.job__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Slider */

.slider__block {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
}

.swiper {
  padding: 100px 0;
  width: 610px;
  height: auto;
  overflow: hidden;
}

/* .swiper-wrapper {
  overflow: hidden;
} */

.slide__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.slider__title {
  width: 100px;
  height: 20px;
  margin-bottom: 39px;
}

.slider__text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin-bottom: 41px;
}

.slide__name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.slide__name--title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
  border-radius: 0;
}

/* Landings */

.landing__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__container {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 100px 0;
}

.landing__title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-bottom: 26px;
}

.landing__grid {
  display: grid;
  grid-template-columns: repeat(3, 414px);
  gap: 16px;
}

.landing__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing__image--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
  background-color: #000;
}

.landing__descr {
  width: 416px;
  display: flex;
  align-items: start;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 25px;

}

.landing__text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__header {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.footer__btn {
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 32px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.footer__prev {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer__items {
  width: 397px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer__socials {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials__block {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(255, 255, 255, 0.1);
  padding: 17px;
}

.social__img {
  width: 14px;
  height: 14px;
}

.footer__prev::after {
  content: '';
  position: absolute;
  width: 1280px;
  height: 1px;
  background: rgba(255, 255, 255, 0.16);
  bottom: -28px;
}

.footer__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}

.footer__bottom--left {
  width: 342px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary {
  color: rgb(255, 113, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer__contacts {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}

/* Responsive */

@media (max-width:320px) {
  /* .header {
    width: 100%;
  } */

  .header__container {
    width: 100%;
    padding: 12px 16px;
    align-items: start;
    flex-direction: column;
  }

  .header__contact {
    flex-direction: column;
  }

  .logo__img {
    width: 80px;
    height: 26px;
    margin-bottom: 26px;
  }

  .header__input {
    margin-bottom: 24px;
  }

  .nav__links {
    width: 249px;
    margin-bottom: 33px;
  }

  /* Стили для бургер кнопки */
  .hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: auto;
    right: 16px;
    top: 20px;
    cursor: pointer;
  }

  .hamburger__line {
    width: 20px;
    height: 1px;
    background: rgb(255, 255, 255);
    margin-bottom: 4px;
  }

  .header__input,
  .nav__links,
  .header__button {
    display: none;
  }

  .open {
    display: block !important;
  }

  .hero {
    width: 100%;
    height: auto;
  }

  .hero__container {
    width: 100%;
    padding: 48px 0;
  }

  .hero__img {
    display: none;
  }

  .hero__desc {
    width: 100%;
  }

  .hero__title {
    width: 288px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 16px;
  }

  .hero__text {
    width: 287px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 22px;
  }

  .hero__btns {
    width: 288px;
    flex-direction: column;
  }

  .hero__btn {
    width: 100%;
  }

  .light {
    margin-bottom: 0;
  }

  .testimonials {
    display: none;
  }

  .jobs__items {
    width: 100%;
  }

  .jobs__container {
    width: 100%;
    padding: 80px 16px;
    flex-direction: column;
    gap: 50px;
  }

  .job__item {
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .square {
    min-width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 16px;
    padding: 9px;
  }

  .square__img {
    width: 32px;
    height: 32px;
  }

  .job__title {
    margin-bottom: 8px;
  }

  .slider__block {
    width: 100%;
  }

  .swiper {
    padding: 32px 16px;
  }

  /* .swiper-wrapper {
    width: 100%;
  } */

  .slider__title {
    width: 50px;
    height: 10px;
    margin-bottom: 24px;
  }

  .slider__text {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 24px;
  }

  .slide__name {
    font-size: 16px;
    line-height: 27px;
  }

  .slide__name--title {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .swiper-pagination-bullet {
    background: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
    border-radius: 0;
  }

  .landing__container {
    width: 100%;
    padding: 80px 16px;
  }

  .landing__title {
    font-size: 40px;
    line-height: 48px;
  }

  .landing__grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  .landing__item {
    width: 288px;
    height: auto;
  }

  .landing__image--container {
    width: 100%;
    padding: 16px 16px 0;
  }

  .landing__img {
    width: 256px;
    height: 256px;
  }

  .landing__descr {
    width: 288px;
    padding: 24px;
  }

  .landing__text {
    font-size: 20px;
    line-height: 28px;
  }

  .footer {
    width: 100%;
  }

  .footer__container {
    width: 100%;
  }

  .footer__top {
    width: 100%;
  }

  .footer__header {
    width: 100%;
    align-items: start;
    flex-direction: column;
    padding: 12px 16px;
  }

  .footer__logo {
    width: 80px;
    height: 26px;
    margin-bottom: 32px;
  }

  .footer__btn {
    margin-bottom: 16px;
  }

  .footer__prev {
    flex-direction: column;
    margin-bottom: 28px;
  }

  .footer__items {
    max-width: 263px;
    flex-wrap: wrap;
  }

  .footer__item {
    font-size: 16px;
    line-height: 24px;

  }

  .footer__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer__item:last-child {
    margin-bottom: 32px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: start;
    padding: 37px 16px;
  }

  .footer__prev {
    padding: 0 16px;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .footer__prev::after {
    display: none;
  }

  .footer__bottom--left {
    width: 189px;
    flex-wrap: wrap;
    align-items: start;
  }
}